NETWORK=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com

YELLOWSTONE_ENDPOINT=
YELLOWSTONE_TOKEN=

JITO_BLOCK_ENGINE_URL=https://devnet.block-engine.jito.wtf

GROQ_API_KEY=your_groq_api_key_here

WALLET_KEYPAIR_PATH=./keypair.json